* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1024px) and (max-width: 1149px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1349px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1499px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
  html {
    font-size: 9px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Assistant;
  font-size: 2rem;
  font-weight: 400;
  background-color: #f7f7f7;
  color: #000000;
  direction: ltr;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.wordle .board {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1rem;
  background: #e6e5e5;
  padding: 2rem 4rem;
}

.wordle .board .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding: 0;
}

.wordle .board .row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  height: 10rem;
  width: 10rem;
  font-size: 8rem;
}

.wordle .keyboard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  width: fit-content;
  border-radius: 27px;
  background: darkgrey;
  padding: 2rem;
}

.wordle .keyboard .letters-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 0;
}

.wordle .keyboard .letters-row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
  background: #f7f7f700;
  height: 7rem;
  width: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.wordle .keyboard .letters-row li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.wordle .keyboard .letters-row li:hover {
  background: saddlebrown;
}

.wordle .keyboard .letters-row .erase,
.wordle .keyboard .letters-row .submit {
  padding: 1rem;
}

.wordle .keyboard .letters-row .erase img,
.wordle .keyboard .letters-row .submit img {
  width: 100%;
  height: 100%;
}

.wordle .keyboard .bottom li {
  width: 100%;
}

.green {
  background: green !important;
}

.orange {
  background: orange !important;
}

.grey {
  background: grey !important;
}

.default {
  background: #e6e5e5 !important;
}

.flip {
  -webkit-animation: flip 0.5s;
          animation: flip 0.5s;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

.container {
  position: relative;
}

.pop-up {
  display: none;
  border: 1px solid green;
  background-color: #fff;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10% auto;
}

.pop-up--status, .pop-up--wordle {
  text-align: center;
  font-family: "VT323";
  padding: 0 0 1rem 0;
}

.pop-up--status {
  font-size: 3rem;
  font-weight: 600;
}

.pop-up--wordle {
  font-size: 2.5rem;
  padding: 0 0 2rem 0;
}

.pop-up--wordle strong {
  color: green;
  font-weight: 900;
}

.pop-up--button a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  border-radius: 50px;
  -webkit-transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 18px;
  color: #fff;
  background-color: #1ed760;
  cursor: pointer;
}

.pop-up--button a:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background-color: #21e065;
}
/*# sourceMappingURL=stylesheet.css.map */