* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Assistant;
  font-size: 10px;
  font-weight: 400;
  background-color: #f7f7f7;
  color: #000000;
  direction: ltr;
}

.container {
  position: relative;
  width: 120rem;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
  }
}

a.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 1;
  border-radius: 50px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 1.8rem;
  color: #fff;
  background-color: #1ed760;
  -webkit-transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter, -webkit-transform;
  transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter, -webkit-transform;
  transition-property: background-color, border-color, color, box-shadow, filter, transform;
  transition-property: background-color, border-color, color, box-shadow, filter, transform, -webkit-box-shadow, -webkit-filter, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

a.btn:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background-color: #21e065;
}

@media (max-width: 1023px) {
  a.btn {
    font-size: 5rem;
    padding: 3rem 3.8rem;
  }
}

button {
  display: inline-block;
  text-decoration: none;
  font-size: 2.2rem;
  line-height: 1;
  border: 2px solid green;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 1.8rem;
  color: #fff;
  background-color: #1ed760;
  border-radius: 50px;
  -webkit-transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

@media (max-width: 1023px) {
  button {
    font-size: 5rem;
    padding: 3rem 3.8rem;
  }
}

button:hover, button:focus {
  background-color: #fff;
  color: green;
}

button.copied {
  border-color: grey;
  background-color: grey;
}

button.copied:hover, button.copied:focus {
  border-color: grey;
  background-color: grey;
  color: #fff;
}

h2 {
  font-size: 4rem;
}

@media (max-width: 1023px) {
  h2 {
    font-size: 5rem;
  }
}

.difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.difficulty ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 1023px) {
  .difficulty ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.difficulty ul li {
  display: inline-block;
  font-size: 2rem;
  background: #ddd;
  color: #333;
  line-height: 4em;
  margin-bottom: 1em;
  padding: 0 2rem;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 1.8rem;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

@media (max-width: 1023px) {
  .difficulty ul li {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .difficulty ul li:last-child {
    grid-column: 2 span;
  }
}

.difficulty ul li:hover {
  background: green;
}

.difficulty ul li a {
  color: black;
  text-decoration: none;
}

.wordle {
  margin-top: 5rem;
}

@media (max-width: 1023px) {
  .wordle {
    padding: 0 2rem;
    margin-top: 15rem;
  }
}

.wordle h1 {
  font-size: 10rem;
  margin: 0 0 5rem 0;
  text-align: center;
  color: #f5c4b6;
  line-height: 0.85;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .wordle h1 {
    font-size: 10rem;
    width: 100%;
  }
}

.wordle h1 span {
  display: block;
}

.wordle .type span:nth-child(2) {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 7rem;
  position: relative;
  z-index: 1;
  text-shadow: 5px 0 0 #f94f6a, -5px 0 0 #f94f6a, 0 5px 0 #f94f6a, 0 -5px 0 #f94f6a, 4px 4px #f94f6a, -4px -4px 0 #f94f6a, 4px -4px 0 #f94f6a, -4px 4px 0 #f94f6a;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  color: #fff;
  margin-top: -5px;
}

.wordle .type span:nth-child(3) {
  margin-top: -3.2rem;
}

.wordle .board {
  display: none;
  position: relative;
}

.wordle .board.game-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1rem;
  background: #e6e5e5;
  padding: 2rem 4rem;
}

@media (max-width: 1023px) {
  .wordle .board.game-started {
    width: 100%;
  }
}

.wordle .board .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding: 0;
  margin: 1rem 0;
}

@media (max-width: 1023px) {
  .wordle .board .row {
    width: 100%;
  }
}

.wordle .board .row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  height: 7rem;
  width: 7rem;
  font-size: 6rem;
}

@media (max-width: 1023px) {
  .wordle .board .row li {
    width: 100%;
    height: 15rem;
    font-size: 14rem;
  }
}

.wordle .keyboard {
  display: none;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 27px;
  background: darkgrey;
  padding: 1rem 2rem;
}

@media (max-width: 1023px) {
  .wordle .keyboard {
    width: 100%;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    margin: 0 auto 10rem;
  }
}

.wordle .keyboard .letters-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 0;
}

@media (max-width: 1023px) {
  .wordle .keyboard .letters-row {
    margin: 5rem 0;
  }
}

.wordle .keyboard .letters-row li {
  border: 1px solid black;
  border-radius: 1rem;
  background: #f7f7f700;
  height: 7.5rem;
  width: 7.5rem;
  list-style: none;
  font-size: 5.5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .wordle .keyboard .letters-row li {
    width: 100%;
    height: 100%;
    padding: 4rem 0;
  }
}

.wordle .keyboard .letters-row li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

@media (max-width: 1023px) {
  .wordle .keyboard .letters-row li a {
    font-size: 6rem;
    text-align: center;
    margin: 0 auto;
  }
}

.wordle .keyboard .letters-row li:hover {
  background: saddlebrown;
}

.wordle .keyboard .letters-row .erase,
.wordle .keyboard .letters-row .submit {
  padding: 1rem;
}

.wordle .keyboard .letters-row .erase img,
.wordle .keyboard .letters-row .submit img {
  width: 100%;
  height: 100%;
}

.wordle .keyboard .bottom li {
  width: 100%;
}

.challenge {
  text-align: center;
}

@media (max-width: 1023px) {
  .challenge {
    padding: 0 2rem;
  }
}

.challenge h2 {
  color: green;
}

.challenge .buttons-wrapper {
  margin-top: 2rem;
}

@media (max-width: 1023px) {
  .challenge .buttons-wrapper {
    margin-top: 5rem;
  }
}

.challenge .link-wrapper {
  display: none;
}

@media (max-width: 1023px) {
  .challenge .link-wrapper #link a {
    display: inline-block;
    font-size: 5rem;
    width: 100%;
  }
}

.challenge .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (max-width: 1023px) {
  .challenge .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
}

.challenge .inputs label {
  font-size: 2.2rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media (max-width: 1023px) {
  .challenge .inputs label {
    font-size: 4rem;
  }
}

.challenge .inputs input#word {
  padding: 1rem;
  font-size: 1.8rem;
  border: 1px solid #3498db;
  border-radius: 5px;
  -webkit-transition: border-color 0.3s ease, -webkit-box-shadow 0.2s linear;
  transition: border-color 0.3s ease, -webkit-box-shadow 0.2s linear;
  transition: border-color 0.3s ease, box-shadow 0.2s linear;
  transition: border-color 0.3s ease, box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

@media (max-width: 1023px) {
  .challenge .inputs input#word {
    height: 10rem;
    width: 50%;
    font-size: 5rem;
  }
}

.challenge .inputs input#word:hover, .challenge .inputs input#word:focus {
  outline: 0;
  border-color: #1abc9c;
  -webkit-box-shadow: 0 0 5px #1abc9c;
          box-shadow: 0 0 5px #1abc9c;
}

.green {
  background: green !important;
}

.orange {
  background: orange !important;
}

.grey {
  background: grey !important;
}

.saddlebrown {
  background-color: saddlebrown !important;
}

.default {
  background: #e6e5e5 !important;
}

.flip {
  -webkit-animation: flip 0.5s;
          animation: flip 0.5s;
}

.selected {
  background: green !important;
}

.pop-up {
  left: -10rem;
}

@media (max-width: 1023px) {
  .pop-up--copy-result {
    margin: 2rem 0;
  }
}

.pop-up--copy-result ul {
  padding: 2rem 0;
  margin: 0;
}

.pop-up--copy-result li {
  list-style: none;
  font-size: 2rem;
  letter-spacing: 7px;
  font-weight: 900;
}

@media (max-width: 1023px) {
  .pop-up--copy-result li {
    font-size: 6rem;
  }
}

.pop-up,
.incorrect-pop-up {
  display: none;
  background-color: #d7d1cd;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.4rem;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .pop-up,
  .incorrect-pop-up {
    font-size: 5rem;
  }
}

.pop-up.pos,
.incorrect-pop-up.pos {
  position: absolute;
}

@media (max-width: 1023px) {
  .pop-up.pos,
  .incorrect-pop-up.pos {
    position: unset;
    width: 100%;
  }
}

.pop-up--status, .pop-up--wordle,
.incorrect-pop-up--status,
.incorrect-pop-up--wordle {
  text-align: center;
  font-family: "VT323";
  padding: 0 0 1rem 0;
}

.pop-up--status,
.incorrect-pop-up--status {
  font-size: 3rem;
  font-weight: 600;
}

@media (max-width: 1023px) {
  .pop-up--status,
  .incorrect-pop-up--status {
    font-size: 10rem;
  }
}

.pop-up--wordle,
.incorrect-pop-up--wordle {
  font-size: 2.5rem;
  padding: 0 0 2rem 0;
}

@media (max-width: 1023px) {
  .pop-up--wordle,
  .incorrect-pop-up--wordle {
    font-size: 7.5rem;
  }
}

.pop-up--wordle strong,
.incorrect-pop-up--wordle strong {
  color: #4af026;
  background-color: #0c6abd73;
  padding: 0 1rem;
  font-weight: 900;
  font-size: 3.5rem;
  border-radius: 12px;
  border: 1px solid black;
}

@media (max-width: 1023px) {
  .pop-up--wordle strong,
  .incorrect-pop-up--wordle strong {
    font-size: 8.5rem;
  }
}

.incorrect-pop-up {
  display: block;
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  color: #d8000c;
  background-color: #ffbaba;
  margin: 0;
  padding: 0.5rem 1.5rem;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: opacity 0.5s linear, -webkit-transform 0.5s linear;
  transition: transform 0.5s linear, opacity 0.5s linear;
  transition: transform 0.5s linear, opacity 0.5s linear, -webkit-transform 0.5s linear;
  opacity: 0;
}

.incorrect-pop-up.animate {
  -webkit-transform: translate(0, 30rem);
          transform: translate(0, 30rem);
  opacity: 1;
}

@media (max-width: 1023px) {
  .incorrect-pop-up.animate {
    -webkit-transform: translate(0, 60rem);
            transform: translate(0, 60rem);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
/*# sourceMappingURL=stylesheet.css.map */