* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    @media only screen and (min-width: 1024px) and (max-width: 1149px) {
        font-size: 6px;
    }
    @media only screen and (min-width: 1150px) and (max-width: 1349px) {
        font-size: 7px;
    }
    @media only screen and (min-width: 1350px) and (max-width: 1499px) {
        font-size: 8px;
    }
    @media only screen and (min-width: 1500px) and (max-width: 1700px) {
        font-size: 9px;
    }
}

@mixin anim($name, $dur, $iterate) {
    animation-name: $name;
    animation-duration: $dur;
    animation-iteration-count: $iterate;
}

body {
    margin: 0;
    padding: 0;
    font-family: Assistant;
    font-size: 2rem;
    font-weight: 400;
    background-color: #f7f7f7;
    color: #000000;
    direction: ltr;
}

.container {
    position: relative;
    width: 120rem;
    margin: 0 auto;
}
button {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    border-radius: 50px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 18px;
    color: #fff;
    background-color: #1ed760;
    cursor: pointer;
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
        display: flex;
        gap: 2rem;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            background: #ddd;
            color: #333;
            line-height: 4em;
            margin-bottom: 1em;
            padding: 0 1em;
            list-style: none;
            user-select: none;
            border-radius: 1.8rem;
            cursor: pointer;
            transition: background-color 0.5s;
            &:hover {
                background: green;
            }
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

.wordle {
    .type span {
        display: block;
    }
    .type {
        height: 100%;
        margin: 50px auto;
        text-align: center;
        color: #f5c4b6;
        line-height: 0.85;
        font-family: Tahoma, Geneva, sans-serif;
        font-weight: bold;
    }
    .type span:nth-child(1) {
        font-size: 100px;
    }
    .type span:nth-child(2) {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: 70px;
        position: relative;
        z-index: 1;
        text-shadow: 5px 0 0 #f94f6a, -5px 0 0 #f94f6a, 0 5px 0 #f94f6a, 0 -5px 0 #f94f6a, 4px 4px #f94f6a,
            -4px -4px 0 #f94f6a, 4px -4px 0 #f94f6a, -4px 4px 0 #f94f6a;
        transform: rotate(-3deg);
        transform-origin: 0 0;
        color: #fff;
        margin-top: -5px;
    }
    .type span:nth-child(3) {
        font-size: 100px;
        margin-top: -32px;
    }
    .board {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto 1rem;
        background: #e6e5e5;
        padding: 2rem 4rem;
        .row {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 0;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                height: 10rem;
                width: 10rem;
                font-size: 8rem;
            }
        }
    }
    .keyboard {
        margin: auto;
        width: fit-content;
        border-radius: 27px;
        background: darkgrey;
        padding: 2rem;
        .letters-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
            padding: 0;
            li {
                display: flex;
                border: 1px solid black;
                border-radius: 1rem;
                background: #f7f7f700;
                height: 7rem;
                width: 10rem;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 5rem;
                transition: background-color 0.2s;
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 700;
                }
                &:hover {
                    background: saddlebrown;
                }
            }
            .erase,
            .submit {
                padding: 1rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .bottom {
            li {
                width: 100%;
            }
        }
    }
}

.challenge {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    label {
        transition: color 0.3s;
    }
    .buttons-wrapper {
        padding: 2rem 0 0 0;
    }
    .link-wrapper {
        display: none;
    }
}

.green {
    background: green !important;
}
.orange {
    background: orange !important;
}
.grey {
    background: grey !important;
}
.default {
    background: #e6e5e5 !important;
}

.flip {
    animation: flip 0.5s;
}
.selected {
    background: green !important;
}
.pop-up {
    left: -10rem;
    &--copy-result {
        ul {
            padding: 2rem 0;
            margin: 0;
        }
        li {
            list-style: none;
            font-weight: 900;
        }
    }
}

.pop-up,
.incorrect-pop-up {
    display: none;
    background-color: #d7d1cd;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 0.5em;
    width: fit-content;
    margin: 10% auto;
    &--status,
    &--wordle {
        text-align: center;
        font-family: "VT323";
        padding: 0 0 1rem 0;
    }
    &--status {
        font-size: 3rem;
        font-weight: 600;
    }
    &--wordle {
        font-size: 2.5rem;
        strong {
            color: #4af026;
            background-color: #0c6abd73;
            padding: 0 1rem;
            font-weight: 900;
            font-size: 3.5rem;
            border-radius: 12px;
            border: 1px solid black;
        }
        padding: 0 0 2rem 0;
    }
    &--button a {
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        line-height: 1;
        border-radius: 50px;
        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: 0.3s;
        border: 1px solid transparent;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 18px;
        color: #fff;
        background-color: #1ed760;
        cursor: pointer;
        &:hover {
            transform: scale(1.04);
            background-color: #21e065;
        }
    }
}

.incorrect-pop-up {
    position: absolute;
    color: #d8000c;
    background-color: #ffbaba;
    margin: 0;
    padding: 0.5rem 1.5rem;
    top: -4rem;
    animation: down 0.5s ease-in-out forwards;
    &--message {
        font-size: 2.5rem;
    }
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes down {
    0% {
        top: -4rem;
    }
    100% {
        top: 28.2rem;
    }
}
