* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1024px) and (max-width: 1149px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1349px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (min-width: 1350px) and (max-width: 1499px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
  html {
    font-size: 9px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Assistant;
  font-size: 2rem;
  font-weight: 400;
  background-color: #f7f7f7;
  color: #000000;
  direction: ltr;
}

.container {
  position: relative;
  width: 120rem;
  margin: 0 auto;
}

button {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  border-radius: 50px;
  -webkit-transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 18px;
  color: #fff;
  background-color: #1ed760;
  cursor: pointer;
}

.difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.difficulty ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.difficulty ul li {
  display: inline-block;
  background: #ddd;
  color: #333;
  line-height: 4em;
  margin-bottom: 1em;
  padding: 0 1em;
  list-style: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 1.8rem;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.difficulty ul li:hover {
  background: green;
}

.difficulty ul li a {
  color: black;
  text-decoration: none;
}

.wordle .type span {
  display: block;
}

.wordle .type {
  height: 100%;
  margin: 50px auto;
  text-align: center;
  color: #f5c4b6;
  line-height: 0.85;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
}

.wordle .type span:nth-child(1) {
  font-size: 100px;
}

.wordle .type span:nth-child(2) {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 70px;
  position: relative;
  z-index: 1;
  text-shadow: 5px 0 0 #f94f6a, -5px 0 0 #f94f6a, 0 5px 0 #f94f6a, 0 -5px 0 #f94f6a, 4px 4px #f94f6a, -4px -4px 0 #f94f6a, 4px -4px 0 #f94f6a, -4px 4px 0 #f94f6a;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  color: #fff;
  margin-top: -5px;
}

.wordle .type span:nth-child(3) {
  font-size: 100px;
  margin-top: -32px;
}

.wordle .board {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1rem;
  background: #e6e5e5;
  padding: 2rem 4rem;
}

.wordle .board .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  padding: 0;
}

.wordle .board .row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  height: 10rem;
  width: 10rem;
  font-size: 8rem;
}

.wordle .keyboard {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 27px;
  background: darkgrey;
  padding: 2rem;
}

.wordle .keyboard .letters-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 0;
}

.wordle .keyboard .letters-row li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
  background: #f7f7f700;
  height: 7rem;
  width: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-size: 5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.wordle .keyboard .letters-row li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.wordle .keyboard .letters-row li:hover {
  background: saddlebrown;
}

.wordle .keyboard .letters-row .erase,
.wordle .keyboard .letters-row .submit {
  padding: 1rem;
}

.wordle .keyboard .letters-row .erase img,
.wordle .keyboard .letters-row .submit img {
  width: 100%;
  height: 100%;
}

.wordle .keyboard .bottom li {
  width: 100%;
}

.challenge {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.challenge label {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.challenge .buttons-wrapper {
  padding: 2rem 0 0 0;
}

.challenge .link-wrapper {
  display: none;
}

.green {
  background: green !important;
}

.orange {
  background: orange !important;
}

.grey {
  background: grey !important;
}

.default {
  background: #e6e5e5 !important;
}

.flip {
  -webkit-animation: flip 0.5s;
          animation: flip 0.5s;
}

.selected {
  background: green !important;
}

.pop-up {
  left: -10rem;
}

.pop-up--copy-result ul {
  padding: 0;
  margin: 0;
}

.pop-up--copy-result li {
  list-style: none;
}

.pop-up,
.incorrect-pop-up {
  display: none;
  background-color: #d7d1cd;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10% auto;
}

.pop-up--status, .pop-up--wordle,
.incorrect-pop-up--status,
.incorrect-pop-up--wordle {
  text-align: center;
  font-family: "VT323";
  padding: 0 0 1rem 0;
}

.pop-up--status,
.incorrect-pop-up--status {
  font-size: 3rem;
  font-weight: 600;
}

.pop-up--wordle,
.incorrect-pop-up--wordle {
  font-size: 2.5rem;
  padding: 0 0 2rem 0;
}

.pop-up--wordle strong,
.incorrect-pop-up--wordle strong {
  color: #4af026;
  background-color: #0c6abd73;
  padding: 0 1rem;
  font-weight: 900;
  font-size: 3.5rem;
  border-radius: 12px;
  border: 1px solid black;
}

.pop-up--button a,
.incorrect-pop-up--button a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  border-radius: 50px;
  -webkit-transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, -webkit-box-shadow, -webkit-filter;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-property: background-color, border-color, color, box-shadow, filter, -webkit-box-shadow, -webkit-filter;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 18px;
  color: #fff;
  background-color: #1ed760;
  cursor: pointer;
}

.pop-up--button a:hover,
.incorrect-pop-up--button a:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background-color: #21e065;
}

.incorrect-pop-up {
  position: absolute;
  color: #d8000c;
  background-color: #ffbaba;
  margin: 0;
  padding: 0.5rem 1.5rem;
  top: -4rem;
  -webkit-animation: down 0.5s ease-in-out forwards;
          animation: down 0.5s ease-in-out forwards;
}

.incorrect-pop-up--message {
  font-size: 2.5rem;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes down {
  0% {
    top: -4rem;
  }
  100% {
    top: 28.2rem;
  }
}

@keyframes down {
  0% {
    top: -4rem;
  }
  100% {
    top: 28.2rem;
  }
}
/*# sourceMappingURL=stylesheet.css.map */